.container {
    margin-top: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body img.logo {
    display: block;
    margin: 0 auto 10px;
    width: 100px; /* Définir la largeur du logo */
}

.text-center {
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 15px;
}

.form-group.col-md-6 {
    padding: 0 5px;
}

.form-control {
    border-radius: 5px;
}

.button {
    width: 100%;
    color: blue;
}

.centered-text {
    text-align: center; /* Centrer le texte */
}
