.post-creator-container {
  margin-top: 20px;
}

.post-creator {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-input {
  border-radius: 30px;
  padding-left: 15px;
  cursor: pointer; /* Ajoutez ce style pour indiquer que le champ est cliquable */
}

.profile-icon {
  color: #007bff;
  text-decoration: none;
}

.post-action {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

.post-action:hover {
  text-decoration: none;
  color: #0056b3;
}
