/* App.css */
.main-content {
  display: flex;
  flex-grow: 1;
}
.body-content {
  flex-grow: 1; 
  padding: 20px;
  overflow-y: auto; 
}

/* RightBar styling */
.rightbar {
  width: 250px; 
  background-color: #f8f9fa;
  overflow-y: auto; 
  height:200px;
}